<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
    <h3>Login Form</h3>
    <div>
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="abc@gmail.com" required>
      <p *ngIf="isValid && loginForm.get('email')?.status == 'INVALID'" style="color: red;">Email Is Required</p>
    </div>
    <div>
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="123.." required>
      <p *ngIf="isValid && loginForm.get('password')?.status == 'INVALID'" style="color: red;">Password Is Required</p>
    </div>
    <button type="submit">Login</button>
  </form>
  <div style="display: flex;justify-content: center;">
    <p>Don't have an account? <a (click)="toggleLoginForm()">SignUp here.</a></p>
  </div>
</div>